/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: rgb(93, 96, 99);
    background-color: rgb(234, 237, 240);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.3;
  } */
 