h1, p {
    text-align: center;
}

li:active {
    color: chartreuse;
    /* cursor: pointer;
    transition: background-color 0.5s; */
}
li:hover {
    background-color: rgb(27, 202, 233);
}
ol {
    width: 50px;
}
ul.style {
    list-style: none;
}